NODE_ENV=development
PORT=4050
SERVER_URL=http://localhost:4050
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres123@localhost:5435/requestdb?schema=public
JWT_ACCESS_SECRET=change-me-request-service
REDIS_URL=redis://localhost:6379
REDIS_ENABLED=true
DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100
