NODE_ENV=development
PORT=4060
SERVER_URL=http://localhost:4060
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres123@localhost:5436/offerdb?schema=public
JWT_ACCESS_SECRET=change-me-offer-service
REDIS_URL=redis://localhost:6379
REDIS_ENABLED=true
REQUEST_SERVICE_URL=http://localhost:4050/api/v1
REQUEST_SERVICE_TIMEOUT_MS=5000
ALLOW_MULTIPLE_ACTIVE_OFFERS_PER_REQUEST=false
DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100
