NODE_ENV=development
PORT=4090
SERVER_URL=http://localhost:4090
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres123@localhost:5439/admindb?schema=public
JWT_ACCESS_SECRET=change-me-admin-service
REDIS_URL=redis://localhost:6379
REDIS_ENABLED=true
